.row {
	width: 100%;
}
@media (min-width: 100px) and (max-width: 767px)
 {
	header {
		color: blue;
		font-size: 40px;
		text-align: center; 
	}
	h1 {
		margin-bottom: 15px;
	}
	#p1 {
		background-color: yellow;
		width: 200px;
		height: 200px;
	}
	#p2 {
		background-color: orange;
		width: 200px;
		height: 200px;
	}
	#p3 {
		background-color: blue;
		width: 200px;
		height: 200px;
	}
}