* {
	box-sizing: border-box;
}
header {
	text-align: center;
}
h1 {
	text-align: center;
	font-size: 3em;
	font-family: impact;
}
h2 {
	float: right;
	border: 1px solid black;
	margin-top: -27px;
	margin-right: -11px;
	padding-left: 25%;
	padding-right: 25%;
	font-family: Source Code Pro;
}
p {
	border: 1px;
	width: auto;
	margin-right: 20px;
	margin-left: 20px;
	font-family: arial;
	color: black;
	padding: 20px;
	min-height: 495px;
}
body div
{
background-color: rgb(228, 235, 235);
}

.Chicken {
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 5px;
}
.Beef {
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 5px;
}
.Sushi {
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 5px;
}

.Chicken h2 {
	background-color: rgb(248, 228, 187);
}
.Beef h2 {
	background-color: rgb(249, 215, 141);
}
.Sushi h2 {
	background-color: rgb(251, 197, 82);
}
.row {
	width: 100%;
}
@media (min-width: 992px) {
	.Chicken-lg-1, .Beef-lg-2, .Sushi-lg-3 {
		float: left;
		border: 1px solid black;
		margin: 2px;
	}
.Chicken-lg-1 {
	width: 33.33%;
}
.Beef-lg-2 {
	width: 33.33%;
}
.Sushi-lg-3 {
	width: 32%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.Chicken-md-1, .Beef-md-2, .Sushi-md-3 {
		float: left;
		border: 1px solid black;
		margin: 3px;
	}
	.Chicken-md-1 {
		width: 50%;
	}
	.Beef-md-2 {
		width: 48.3%;
		float: right;
	}
	.Sushi-md-3 {
		width: 100%;
	}
@media (min-width: 400px) and (max-width: 767px) {
	.Chicken-sm-1, .Beef-sm-2, .Sushi-sm-3 {
		float: left;
		border: 1px solid black;
		margin: 3px;
	}
	.Chicken-sm-1 {
		width: 100%;
	}
	.Beef-sm-2 {
		width: 100%;
	}
	.Sushi-sm-3 {
		max-width: 100%;
	}
}